<.live_component module={CoffeeTimeWeb.Nav.Header} context={@context} id="header" />
<main class="flex h-screen">
  <aside class="dark:bg-black-bean h-screen px-2"><.icon name="hero-forward-solid" /></aside>
  <div class="px-4 py-4 w-screen">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
